.products__cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.products__cards__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 50px 0 45px;
    width: 90%;
}

.products__cards {
    height: 90%;
}

.products-card-detail {
    display: flex;
    min-width: 30%;
}

.products-detail {
    display: flex;
    margin: 1rem;
    padding: 0 1rem 2rem 1rem;
    align-items: center;
}

@media (min-width: 960px) {
    .products__cards {
        display: flex;
        height: 90%;
    }

    .cards__item {
        display: flex;
        flex: 1;
        padding: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .products__cards__container {
        display: flex;
    }

    .cards__items {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .products-card-detail {
        justify-content: center;
    }
}

